<div class="dashboard">
  <h1 class="mb-md-4">Dashboard</h1>

  <!-- Alerts -->
  <div class="row mb-md-4">
    <div class="col-md-3">
      <div class="card shadow bg-pineapple">
        <div class="card-body">
          <h5 class="card-title">Alert</h5>
          <p class="card-text">Content for each alert. Like messages, projects, storage</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow bg-pineapple">
        <div class="card-body">
          <h5 class="card-title">Alert</h5>
          <p class="card-text">Content for each alert. Like messages, projects, storage</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow bg-pineapple">
        <div class="card-body">
          <h5 class="card-title">Alert</h5>
          <p class="card-text">Content for each alert. Like messages, projects, storage</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow bg-pineapple">
        <div class="card-body">
          <h5 class="card-title">Alert</h5>
          <p class="card-text">Content for each alert. Like messages, projects, storage</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Projects -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow bg-pineapple">
        <div class="card-body">
          <h5 class="card-title">Featured Projects</h5>
          <p class="card-text">This must contain only the featured projects of the portfolio. Keep in mind that must be
          a maximum of six of them, remember not to saturate the user view with to many pinned projects.</p>

          <div class="pinned w-100 d-md-flex flex-md-wrap text-dark">
            <div class="project col-md-4 p-md-0 mb-md-3">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-1.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="project col-md-4 p-md-0">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-2.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="project col-md-4 p-md-0">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-3.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="project col-md-4 p-md-0">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-4.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="project col-md-4 p-md-0">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-5.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="project col-md-4 p-md-0">
              <div class="card" style="width: 18rem;">
                <%= image_tag('projects/img-6.jpg', class: 'card-img-top') %>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>