<% @educations.each do |education| %>
  <div class="col-md-12 bg-pineapple mb-md-4 shadow rounded p-md-4">
    <div class="d-md-flex justify-content-md-between mb-md-2">
      <h4><%= education.title %></h4>
      <div><%= education.start.strftime('%m-%Y') %> - <%= education.end.strftime('%m-%Y') %></div>
    </div>

    <div class="d-md-flex mb-md-3 justify-content-md-between">
      <%= link_to(education.school, education.url, class: 'text-light') %>
      <% if education.certificate.attached? %>
        <%= link_to('See certificate', rails_blob_path(education.certificate, disposition: :preview), target: '_blank') %>
      <% end %>
    </div>

    <p class="text-justify">
      <%= education.description %>
    </p>
  </div>
<% end %>